<h1>
  Bienvenido <strong><%= @user.username %></strong>
</h1>
<hr>
<span>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
</span>
<hr>
<h2>
  <%= link_to 'Ir a Contactos', contacts_path %>
</h2>
