<h1>
  Welcome <%= @user.username %>
</h1>
<hr>
<span>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
</span>

<h2>
  <%= link_to 'Contacts Index', contacts_path %>
</h2>
